/* supression de tout les margins et paddings de la page */
* {
    margin: 0;
    padding: 0;
}

/* font du site */
@font-face {
    font-family: "mandali" ;
    src: url(font/Mandali-Regular.ttf);
}

@-webkit-keyframes slide-in-bck-tl {
  0% {
    -webkit-transform: translateZ(700px) translateY(-300px) translateX(-400px);
            transform: translateZ(700px) translateY(-300px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-tl {
  0% {
    -webkit-transform: translateZ(700px) translateY(-300px) translateX(-400px);
            transform: translateZ(700px) translateY(-300px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

body {
    width: 99vw;
    height: 100vh;
    font-family: "mandali";
    color: #444345;
    background-color: whitesmoke;
}

/* partie css du header */
header {
    height: 30vh;
    background : linear-gradient(#03aab9 , #3081c4);
    display: flex;
    justify-content: space-between;
}

.triangle{
 display : inline-block;
 height : 0vh;
 width :0vw;
 border-top : 3vw solid #3081c4;
 border-left : 99vw solid transparent;
 }

/* header barre de naviagtion */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
    padding-left :2vw;
    height: 5vh;
    width: 45vw;
    background-color: white;
    border-radius: 1rem; 
    margin-top: 12vh;
    margin-right: 10vw;
}

.navphone {
    display : none
}
li {
    list-style : none;
    padding-left :2vw;
    padding-right :2vw; 
}

li a {
    text-decoration: none;
    color: #444345;
}

header img {
    padding-top: 2vh;
    padding-left : 5vw;
    width: 12vw;
}

/* début du css pour la partie centrale du site */
section {
    display: flex;
    flex-direction: column;
}


p {
    font-size:2rem;
    width: 50vw;
    margin-left : 5vw;

}

/* Pour le icones j'ai du faire 2 div afin de pouvoir les positions comme je le souhaitais */
.container-icones {
    display: flex;
    flex-direction: column;
}

.icone {
    display: flex;
    justify-content :space-around;
    
}

.icone img {
    width: 15vw;
    margin :10vh;
    display:inline-block;
    transition : transform 1000ms linear;
    transform-origin : 50% 50%;
    
}

.icone img:hover {
    transform : rotate(360deg);
}
/* début du css pour le footer */
footer {
    height: 8vh;
    background : linear-gradient(#03aab9 , #3081c4);
    text-align: right;
    padding-top : 4vh;
   
}
footer a {
    text-decoration: none;
    color : #444345;
    font-size : 1.5rem;
    margin-right: 2vw; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
}

h1 {
    text-align: center;
}

/* Page météo */
#container-meteo {
    margin-top: 10vh;
    margin-bottom: 10vh;
  font-family: 'Source Sans Pro', sans-serif;-webkit-animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 3rem 5rem -2rem rgba(0,0,0,0.2);
  width: 600px;
  margin: 10px;
  transition: box-shadow 0.2s;
  border-radius: 2rem;
  box-shadow: 0 10px 28px grey; 
}
.card__upper {
  position: relative;
}
.card__lower {
  position: relative;
  z-index: 1;
  background: #fff;
}
.location {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 30px 30px 5px;
}
@media (min-width: 460px) {
  .location {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.location__date {
  font-size: 22px;
}
.location__city {
  font-size: 22px;
}
.location__time {
  font-size: 100px;
  font-weight: 300;
  width: 100%;
  margin-left: -5px;
}
@media (min-width: 460px) {
  .location__time {
    font-size: 140px;
    margin-left: -10px;
  }
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0,0,0,0.5), transparent);
  background-color: #2aa1c0;
  transition: background-color 0.5s;
}
.dawn .background,
.dusk .background {
  background-color: #ff5722;
}
.evening .background {
  background-color: #0e647d;
}
.night .background {
  background-color: #444;
}
.background__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 550px;
  width: 550px;
  display: block;
  background: #fff;
  border-radius: 50%;
  opacity: 0.3;
  transition: transform 0.5s;
}
.dawn .background__item {
  transform: translate(-30%, 30%);
}
.morning .background__item {
  transform: translate(0, -20%);
}
.noon .background__item {
  transform: translate(5%, -70%);
}
.afternoon .background__item {
  transform: translate(20%, -20%);
}
.dusk .background__item {
  transform: translate(35%, 15%);
}
.evening .background__item {
  transform: translate(-25%, 15%);
}
.night .background__item {
  transform: translate(5%, -70%);
}
.weather {
  position: relative;
  padding: 5px 30px;
  display: flex;
  align-items: center;
}
.weather__temperature {
  font-size: 50px;
}
.weather__description {
  position: relative;
  z-index: 1;
  font-size: 18px;
  margin-left: 20px;
}

@media (min-width: 460px) {
  .weather__icon {
    top: -50px;
    right: 30px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    color: #2aa1c0;
    background: #fff;
    border-radius: 50%;
  }
  .dawn .weather__icon,
  .dusk .weather__icon {
    color: #ff5722;
  }
  .evening .weather__icon {
    color: #0e647d;
  }
  .night .weather__icon {
    color: #444;
  }
}
form {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 10vw;
}

.select button {
    background : linear-gradient(#185d6f, #1a6478);
    color: white;
    width: 3vw;
    height: 5vh;
    border-radius: 0.25rem;
    margin-right: 1rem;
    border-color: white;
}
.js-location {
    width: 15vw;
    height: 5vh;
    margin-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
    border : transparent;
}

.location__time{
    font-size: 5rem;
}

@media (min-width: 460px) {
  .select select {
    padding-left: 30px;
    direction: rtl;
  }
}
.select select option {
  color: #000;
}
.select__arrow {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: transparent;
  transition: border 0.15s;
}
.card:hover .select__arrow {
  border-top-color: #fff;
}


/* page calculatrice */

#calculette {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 25vw;
    height: 50vh;
    background: linear-gradient(180deg,#faa439, #f4672c);
    border-radius: 2rem;
    box-shadow: 0 10px 28px #d8724a; 
    /* transition */
    transition: color .6s ease-in-out;
	-webkit-animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.ecran {
    background: white;
    height: 9.5vh;
    width: 25vw;
    border :transparent;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-large;
}
.touchescalculette{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.touchesoperateurs {
    background : linear-gradient(#dc7738, #dc6136);
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.touchesoperateurs span {
    display: flex;
    justify-content: center;
}

.container-nombre {
    display: flex;
    flex-direction: column;
}

.nombre {
    display: flex;
    justify-content: center;
    align-items: center; 
}

span{ 
    background: transparent;
    border : transparent ;
    color : white;
    width: 6.25vw;
    height: 8.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

span:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
}

/* page convertiseur */

.body-convertor {
    background: linear-gradient(#fabe2c, #bb8f22);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 28px #333e73;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 25vw;
    height: 50vh;
    transition: color .6s ease-in-out;
	-webkit-animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mesure {
    display: flex;
    flex-direction: column;
}

.signe-egal {
    font-size: 4rem;
    color: #333e73;
}

.mesure input {
    margin-bottom: 1rem;
    border : transparent;
    border-radius: 0.5rem;
    height: 3vh;
    width: 10vw;
}

.mesure select {
    border-radius: 0.5rem;
    height: 3vh;
    border: 2px solid #333e73;

    font-size: 1rem;
    }

.mesure option {
    font-family: "mondali";
}

.mesure input:focus {
    border : transparent;
}

/* Page Fête du jour */




@media screen and (max-width: 1080px){
    header {
    height: 10vh;
    width: 100vw;
}

.triangle{
 height : 3vh;
 width :1vw;
}

/* header barre de naviagtion */

nav {
    width: 70vw;
    font-size: 0.5rem;
    margin-top: 2vh;
    margin-right: 0.2rem;
}


header img {
    padding-top: 0.5vh;
    padding-left : 1vw;
    width: 15.4vw;
}

/* début du css pour la partie centrale du site */
section {
    display: flex;
    flex-direction: column;
}

p {
    font-size:0.9rem;
    width: 98vw;
    margin-left : 2vw;
    margin-right: 2vw;
    margin-top: 1rem;

}

/* Pour le icones j'ai du faire 2 div afin de pouvoir les positions comme je le souhaitais */

.icone {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}

.icone img {
    width: 45vw;
    margin :10vh;   
}


/* début du css pour le footer */
footer {
    height: 7vh;
    width: 100vw;
    background : linear-gradient(#03aab9 , #3081c4);
    text-align: right;
    padding-top : 0vh;
    align-items: center;
    
   
}
footer a {
    font-size : 0.5rem;    
}


h1 {
    font-size: 1rem;
}

/* Page météo */

#container-meteo {
    margin-bottom: 26vh;
}

.select button {
    width: 13vw;
    height: 7vh;
}

.js-location {
    width: 50vw;
}

/* page calculatrice */

#calculette {
    margin-top: 7vh;
    margin-bottom: 5vh;
    width: 85vw;
    height: 61vh;
}

.ecran {
    width: 85vw;
}

span{    
    width: 21.2vw;
    height: 10.3vh;
}

span:hover {
    border-radius: 1rem;
}

/* page convertiseur */

.body-convertor {
    margin-top: 6vh;
    margin-bottom: 10vh;
    width: 85vw;
    height: 55vh;
}

.mesure input {
    height: 5vh;
    width: 60vw;
}

.mesure select {
    height: 5vh;   
    }
    
}