/* supression de tout les margins et paddings de la page */
* {
    margin: 0;
    padding: 0;
}

/* font du site */
@font-face {
    font-family: "mandali" ;
    src: url(font/Mandali-Regular.ttf);
}

body {
    width: 99vw;
    height: 100vh;
    font-family: "mandali";
    color: #444345;
}

/* partie css du header */
header {
    height: 30vh;
    background : linear-gradient(#03aab9 , #3081c4);
    display: flex;
    justify-content: space-between;
}

.triangle{
 display : inline-block;
 height : 0vh;
 width :0vw;
 border-top : 3vw solid #3081c4;
 border-left : 99vw solid transparent;
}

/* header barre de naviagtion */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 5vw;
    padding-left :5vw;
    height: 5vh;
    width: 45vw;
    background-color: white;
    border-radius: 1rem; 
    margin-top: 12vh;
    margin-right: 10vw;
}

li {
    list-style : none;
    padding-left :2vw;
    padding-right :2vw; 
}

li a {
    text-decoration: none;
    color: #444345;
}

header img {
    padding-top: 2vh;
    padding-left : 5vw;
    width: 12vw;
}

/* début du css pour la partie centrale du site */
section {
    display: flex;
    flex-direction: column;
}


p {
    font-size:2rem;
    width: 50vw;
    margin-left : 5vw;

}

/* Pour le icones j'ai du faire 2 div afin de pouvoir les positions comme je le souhaitais */
.container-icones {
    display: flex;
    flex-direction: column;
}

.icone {
    display: flex;
    justify-content :space-around;
    
}

.icone img {
    width: 15vw;
    margin :10vh;
    display:inline-block;
    transition : transform 1000ms linear;
    transform-origin : 50% 50%;
    
}

.icone img:hover {
    transform : rotate(360deg);
}
/* début du css pour le footer */
footer {
    height: 8vh;
    background : linear-gradient(#03aab9 , #3081c4);
    text-align: right;
    padding-top : 4vh;
   
}
footer a {
    text-decoration: none;
    color : #444345;
    font-size : 1.5rem;
    margin-right: 2vw; 
}

main {
    display: flex;
    justify-content: center;
}

.slide-in-bck-tl {
    width: 50vw;
    height: 25vh;
    background-color: rgb(2, 126, 175);
	-webkit-animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bck-tl {
  0% {
    -webkit-transform: translateZ(700px) translateY(-300px) translateX(-400px);
            transform: translateZ(700px) translateY(-300px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-tl {
  0% {
    -webkit-transform: translateZ(700px) translateY(-300px) translateX(-400px);
            transform: translateZ(700px) translateY(-300px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
